<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Records Queue</title>
    <style>
      .scroll-area, #results {
        max-height: 330px;
        max-width: 630px;
        overflow-y: scroll;
      }
      .half-col {
        min-width: 400px;
        max-width: 630px;
        font-size: 75%;
        display: inline-block;
        vertical-align: top;
        margin-right: 50px;
      }

      h1 {
        margin-bottom: 0;
      }

    </style>
</head>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      // Server-Side Events
      var resultdiv = document.getElementById("results");
        var eventSource = new EventSource("{{ url_for('stream') }}");
        eventSource.onmessage = function(e) {
          if (Math.random() < 0.02) {
            // Truncate out some PRP messages
            var a = resultdiv.innerHTML.split("<br>");
            var b = a.filter(function(line, i) {
              return i < 10 || !line.match(/PRPs perf/) || Math.random() > 0.5;
            });
            console.log("Filtering ", a.length, " messages to ", b.length);
            resultdiv.innerHTML = b.join("<br>");
          }
          resultdiv.innerHTML = e.data + "\n<br>\n" + resultdiv.innerHTML;
        };
        eventSource.onerror = function(e) {
          eventSource.close();
        };
    });
</script>

<body id="body">
    <h1>
      Prime Gap Status
      <a href="https://github.com/primegap-list-project/prime-gap-list/commits/server">(prime-gap-list)</a>
    </h1>
    <div>
      Worker Status:
      {% if running %}
        <span style="color:green">Alive</span>
      {% else %}
        <span style="color:red">
          Dead (ping the
          <a href="https://www.mersenneforum.org/showthread.php?t=25313">thread</a>
          please)
        </span>
      {% endif %}
    </div>

    <div>
      <span class="half-col">
        <h2>{{queued}} Queued</h2>
        {% if queue %}
          <div id="queue" class="scroll-area">
            {% for line in queue %}
              <div>{{ line }}</div>
            {% endfor %}
          </div>
        {% endif %}
      </span>

      {% if queue %}
      <span class="half-col">
        <h2>Live Progress</h2>
        <div id="results">
            {{status}}
        </div>
      </span>
      {% endif %}
      <hr>
    </div>

    {% if recent %}
      <span class="half-col">
        <h2>Recent records checked ({{ recent | length }})</h2>
        <div id="recent" class="scroll-area">
          {% for r in recent | reverse %}
            <div>{{ r }}</div>
          {% endfor %}
        </div>
        <hr>
      </span>
    {% endif %}
    <span class="half-col">
      {% if new_records %}
        <h2>New Records ({{ new_records | length }})</h2>
        <div id="records" class="scroll-area">
        {% for r in new_records %}
          <div>{{ r }}</div>
        {% endfor %}
        </div>
      {% endif %}
    </span>
</body>
</html>
