<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Records Queue</title>
    <style>
      .scroll-area, #results {
        max-height: 400px;
        max-width: 97%;
        overflow-y: scroll;
      }

      h1 {
        margin-bottom: 0;
      }

    </style>
</head>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
      // Server-Side Events
      var resultdiv = document.getElementById("results");
        var eventSource = new EventSource("{{ url_for('stream') }}");
        eventSource.onmessage = function(e) {
          resultdiv.innerHTML = e.data + "\n<br>\n" + resultdiv.innerHTML;
        };
        eventSource.onerror = function(e) {
          eventSource.close();
        };
    });
</script>

<body id="body">
    <h1>Prime Gap Status</h1>
    <div>
      Worker Status:
      {% if running %}
        <span style="color:green">Alive</span>
      {% else %}
        <span style="color:red">
          Dead (ping the
          <a href="https://www.mersenneforum.org/showthread.php?t=25313">thread</a>
          please)
        </span>
      {% endif %}
    </div>

    <div id="queue">
      <h2>{{queued}} Queued</h2>
    {% for line in queue %}
      <div>{{ line }}</div>
    {% endfor %}
    </div>

    <h2>Queue</h2>
    <div id="results">{{status}}</div>
    <hr>

    {% if recent %}
      <div id="recent" class="scroll-area">
        <h2>Recent records checked</h2>
      {% for r in recent | reverse %}
        <div>{{ r }}</div>
      {% endfor %}
      </div>
      <hr>
    {% endif %}

    <div id="records" class="scroll-area">
    {% if new_records %}
      <h2>New Records</h2>
    {% for r in new_records %}
      <div>{{ r }}</div>
    {% endfor %}
    {% endif %}
    </div>
</body>
</html>
